      <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type = "text/javascript">

        $(document).ready(function(){
             $("h2").hide();
             $("#addStatus").hide();
             $("#snlist").hide();
             $("button").click(function(){
			send_add_sn2();
                        get_list_sn2();
		}
	     );
        });

        function get_list_sn2(){
             $.getJSON('/list_sn2', function(jd) {
                  var snlist = jd.sn
                  var htmls = ""
                  for ( sn in snlist )
                      htmls += "<p> SN:" + snlist[sn] + "</p>";
                  $('#snList').html(htmls);
             });
        }

        function send_add_sn2() {
            var sn = document.getElementById("input_sn").value.toString();
            var sns ={"sn":sn};
            $.ajax({
                url: '/add_sn2',
                type: 'post',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(sns),
                success: function (rsp) {
                    if ( rsp["status"] == "success" ){
                        $('#addStatus').html("<p> Status : Success." + sn  + " Added </p>");
                    }
                    else {
                        $('#addStatus').html("<p> Status : Fail." + rsp["cause"]  + " Added </p>");
                    }
                    $("h2").show();
                    $("#snlist").show();
                    $("#addStatus").show();
                    console.log(rsp);
                }
            });
        }
      </script>


  <body data-gr-c-s-loaded="true">
    <div> Inventory Tracking : <p> <a href="/add_sn">Add SN</a> <a href="/list_sn">List SN(Generate Excel File)</a></p>
    <hr>
    <div> Inventory Tracking ( seperate frontend and backend) : <p><a href="/add_sn_static">Add SN</a> <a href="/list_sn_static">List SN(Generate Excel File)</a></p>
    <hr>
    
    <h1>Input Serial Number</h1>
    <form action="" method="post" name="add_sn">
        <p>
            SN:  <input id="input_sn" type="text" name="input_sn">
        </p>
        <p>
            <button type="button">Add SN</button>
        </p>
    </form>

    <p id= "addStatus">
        Add status :
    </p>
    <h2>Serial Number List</h2>
    <p id= "snList">
      
    </p>
    <p>
        
        
    </p>

  
</div></body></html>
