<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
  <body>
    <div> Inventory Tracking : <p> <a href="/add_sn">Add SN</a> <a href="/list_sn">List SN(Generate Excel File)</a></p>
    <hr>
    <div> Inventory Tracking ( seperate frontend and backend) : <p><a href="/add_sn_static">Add SN</a> <a href="/list_sn_static">List SN(Generate Excel File)</a></p>
    <hr>
    {% block content %}{% endblock %}
    {% block content2 %}{% endblock %}
  </body>
</html>
