<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% endblock %}

{% block content2 %}
    <h2>Serial Number List </h2>
    <p>
    <form action="" method="Post" name="list_sn">
    {{ form.hidden_tag() }}
    <p> <button type="submit" name="action" value="genXls">Generate Excel File</button> </p>
    <table>
    {% for SN in form.SNs %}
    <tr width="200px">
    <td>  {{ loop.index }} </td>
    <td width="70%">  {{ SN }} </td>
     <td> <button type="submit" name="item" value="{{SN}}">Delete </button> </td>
    </tr>
    {% endfor %}
    </table>
    </form>
    </p>

    {% with file = get_flashed_messages() %}
    {% if file %}
    <div> Generated Excel SNs List : <a href={{file[0]}}> Download Excel file</a>
    {% endif %}
    {% endwith %}

{% endblock %}