<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Input Serial Number</h1>
    <form action="" method="post" name="add_sn">
        {{ form.hidden_tag() }}
        <p>
            SN:
            {{ form.sn(size=80) }}
        </p>
        <p><input type="submit" value="Add SN"></p>
    </form>
{% endblock %}

{% block content2 %}
    <h2>Serial Number List</h2>
    <p>
      {% if status %}
      <b>Status: {{ status }}</b>
      {% endif %}
    </p>
    <p>
 		{% with messages = get_flashed_messages() %}
 		{% if messages %}
		<table>
			<tr>
			     <th> Serial Number </th>
			</tr>
			{% for message in messages %}
				<tr>
				<td> {{ message }} </td>
				</tr>
			{% endfor %}
		</table>
 		{% endif %}
 		{% endwith %}
    </p>
{% endblock %}